@charset "UTF-8";
/********************************************************CSS RESET**************************************************/

/****************************************CSS BEGINS***************************************/
.body{
	margin: 0;
	padding: 0;
}
/***************************************NAVBAR******************************/
.header .navbar.navbar-dark .navbar-brand {
    color: #FFFFFF;
}
.text {
	color: #ffffff;
	text-shadow: 1px 1px 1px #505857;
}
.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,1.00);
	border-width: medium;
	border-radius: 7px;
	box-shadow: 1px 0px 1px 0px;
	margin-left: 10px;
}
.fa-2x {
	font-size: 1.8rem;
}
button {
	position: relative;
	right: 12px
}
.navbar{
    float: none;
}

.navbar p{
	font-size: 40px;
	text-align: left;
	display: block;
	margin-bottom: auto;
	margin-top: 30px;
	word-spacing: 50px;
	letter-spacing: 2px;
}
.git {
	margin-right:7px;
}
.navbar-nav {
	font-size: 25px;
	text-align: right;
	padding-right: 20px;
	padding-top: 1px;
	
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
    padding: 0px;
    text-shadow: 1px 1px #505857;
    text-decoration: overline;
}


.navbar-dark {
	/*background-color: #505857;*/
	background-image: url("../images/dogon_pattern.jpg");
	opacity: 0.9;
	border-bottom: groove 8px #505857;
	padding: 8px 15px;
}

/*******************************************HERO******************************************************/
.hero{
	height: 510px;
	background-color: #000;
	padding: 5px 0px;
}
#myVideo {
  min-width: 100%; 
  min-height: 25%;
  height: 500px;
  width: 100%;
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #505857;
  color: #fff;
  cursor: pointer;
  position: relative;
  bottom: 53px;
  left: 230px;
}

#myBtn:hover {
  background: #d9bba2;
  color: #fff;
}
/*************************************************INTRO****************************/
.card .card-body p {
    font-size: 22px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    line-height: 1.4;
}
#intro .card {
    border: medium;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 30px;
    -webkit-box-shadow: 0 1px 7px 3px #A6A5A5;
    box-shadow: 0 1px 7px 3px #A6A5A5;
    margin-right: 40px;
    margin-left: 40px;
    width: 80%;
    vertical-align: center;
}
/********************************************CAVE SECTION*******************************/
#cave .row .card.text-white {
    margin: 30px;
    position: relative;
}

#woodwork p {
    font-size: 20px;
}
#woodwork a {
    font-size: 22px;
    line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
}

.fab {
	margin: 0px 0px 10px 5px;
	float: right;
	color: aliceblue;
}

.card-group {
	height: 790px;
}

.cave {
    font-size: 20px;
	font-weight: 500;
    color: #505857;
}
.row .card.text-white.w-100.h-50 .card-img {
    opacity: 0.8;
}





#intro .card .img-fluid {
    height: auto;
}
