@charset "UTF-8";
/********************************************************CSS RESET**************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************************************CSS BEGINS***************************************/
.body{
	margin: 0;
	padding: 0;
}
/***************************************NAVBAR******************************/
.navbar.navbar-dark.bg-dark .form-inline.ml-auto .btn.btn-outline-white.btn-md.my-0.ml-sm-2 {
    margin-right: 10px;
    position: relative;
    right: 12px;
}
.navbar{
    float: none;
}
.fa-1x {
	font-size: 2.0rem;
}

.text {
	color: #ffffff;
}

.navbar p{
	font-size: 40px;
	text-align: left;
	display: block;
	margin-bottom: auto;
	margin-top: 30px;
	word-spacing: 50px;
	letter-spacing: 2px;
}
.git {
	margin-right:7px;
}
.navbar-nav {
	font-size: 25px;
	text-align: right;
	padding-right: 20px;
	padding-top: 1px;
	
}

.navbar-brand {
	font-size: 26px;
}
/*******************************************HERO******************************************************/
.hero{
	height: 483px;	
}
.videoContainer {
	position:inherit;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}
/*************************************************INTRO****************************/
.card .card-body p {
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 28px;
}
#intro .card {
    border: medium;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 30px;
    -webkit-box-shadow: 0 1px 7px 3px #A6A5A5;
    box-shadow: 0 1px 7px 3px #A6A5A5;
    margin-right: 40px;
    margin-left: 40px;
}
/******************************************************WOODWORK SECTION*************************/
#woodwork .row {
	padding-top: 50px;
	padding-bottom: 0px;	
}
.card.text-white.w-100.h-50 .card-img-overlay .card-title {
    font-size: 40px;
}
.card.text-white.w-100.h-50 .card-img-overlay .card-text {
    font-size: 18px;
}
.col-sm-6 {
	padding-left: auto;
	padding-right: auto;
}

.card-header{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 60px;
	background-color: black;
	color: white;
	column-width: 200px;
	opacity: .9
}
.container .row .card-group {
    margin: 0px;
    padding: 0px;

}
.card-body .card-title a {
    color: #000000;
}
/********************************************CAVE SECTION*******************************/
#cave .row .card.text-white {
    margin: 30px;
    position: relative;
}

#woodwork p {
    font-size: 22px;
}
#woodwork a {
    font-size: 24px;
    line-height: 28px;
    word-spacing: 3px;
    letter-spacing: 1px;
}
