@charset "utf-8";
/* Set default styles for tab content */
.tabcontent {
    display: none;
    padding-top: 0px;
    text-align: center;
    margin-top: 40px;
}
/* Style the tab buttons */
.tablink {
	background-image: url("../images/dogon_pattern.jpg");
	opacity: 0.9;
  /*background-color: #8c6f5c;*/
	color: #505857 ;
	/*float: right;*/
	border: none;
	outline: none;
	cursor: pointer;
	padding: 8px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
    word-spacing: 1px;
    letter-spacing: 1px;
	width: 20.3%;
	margin-bottom: 40px;	
}

.box:active {
	background-color: #505857;
	color: #d9bba2;
}
/* Change background color of buttons on hover */
.box:hover {
	background-color: #505857;
	color: #d9bba2;
}

/* Style each tab content individually */ 
/*#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}*/

/******************************************************TAB*************************/
.card-body .card-title a {
    color: #000000;
}

.tabcontent h1 {
    margin-top: 5px;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.card.last .card-body .card-text {
    font-size: 16px;
}


.box {
	background-color: #d9bba2;
	border-radius: 10px;
	height: 38px;
}
